@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif; }

a, a:hover, a:focus, a:visited, a:active {
  color: white; }

h1, h2, h3 {
  font-family: 'Bitter', serif; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

header {
  background: #002e70;
  height: 38px; }
  header ul li {
    color: #fff;
    font-weight: bold; }
    header ul li a {
      line-height: 38px; }
  header ul li:last-child {
    float: right; }

.home-landing {
  position: relative;
  height: calc(100vh - 38px);
  background: #66b3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center; }
  .home-landing .logo {
    z-index: 100;
    padding: 25px; }
    .home-landing .logo img {
      height: 200px; }
    .home-landing .logo h2 {
      margin-top: 30px;
      color: #fff; }

#home .services-list {
  padding: 0; }
#home .page-title {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center; }
#home .service-item {
  text-align: center;
  padding: 0px;
  margin-top: 20px; }
  #home .service-item h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  #home .service-item .btn-container {
    background: #66b3ff;
    min-height: 120px;
    padding: 20px 0; }
    #home .service-item .btn-container p {
      color: #fff; }
  #home .service-item .image-container img {
    height: 287px;
    border: 10px solid #ff7700;
    margin-bottom: 20px; }

footer {
  background: #000;
  color: white;
  text-align: center; }
  footer ul li {
    margin: 20px 50px; }
  footer ul.social-icons li {
    margin: 20px 50px; }

video.bgvid {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.landing {
  position: relative;
  height: 600px;
  background-size: contain !important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center; }
  .landing .logo {
    position: absolute;
    left: 0;
    z-index: 100;
    padding: 25px; }
    .landing .logo img {
      height: 80px; }
  .landing h1 {
    width: 100%;
    margin-top: 30px;
    color: #fff; }
  .landing h2 {
    width: 100%;
    margin-top: 30px;
    color: #fff; }

.landing.kinder-gym {
  background: url("../images/kinder-gym.jpg") #ffff6b no-repeat center; }

.landing.rec-gym {
  background: url("../images/rec-gym.jpg") #7446fe no-repeat center; }

.landing.competitive {
  background: url("../images/competitive.jpg") #c6ffae no-repeat center; }

.landing.circus-acts {
  background: url("../images/circus.jpg") #ffff47 no-repeat center; }

.landing.cheerleading {
  background: url("../images/cheerleading.jpg") #57faff no-repeat center; }

.landing.skateboarding {
  background: url("../images/skateboarding.jpg") #19ff19 no-repeat center; }

.landing.neverland-productions {
  background: url("../images/ring.jpg") #ff4001 no-repeat center; }

.landing.parties {
  background: url("../images/parties.jpg") #feff37 no-repeat center; }

.landing.rock-climbing {
  background: url("../images/rock-climbing.jpg") #fe860c no-repeat center; }

.contact-content,
.service-content {
  padding-top: 50px; }
  .contact-content h1, .contact-content h2,
  .service-content h1,
  .service-content h2 {
    text-align: center; }

#services .service-content h6 {
  margin-bottom: 20px; }
#services .service-content .service-item {
  padding-top: 40px; }
#services .service-content .register {
  margin: 50px auto;
  text-align: center; }
  #services .service-content .register button {
    width: 30%;
    height: 50px; }

#contact .landing {
  height: 450px; }
#contact form {
  max-width: 850px;
  margin: 40px 0; }
  #contact form .form-group {
    overflow: hidden; }
    #contact form .form-group label {
      text-align: right;
      line-height: 38px; }
    #contact form .form-group select {
      height: 38px; }
    #contact form .form-group .submit-container {
      text-align: right; }
      #contact form .form-group .submit-container button {
        width: 100%; }

/*# sourceMappingURL=app.css.map */
