// VARIABLES
$white: #fff;
$dark-blue: rgb(0, 46, 112);
$light-blue: rgb(102, 179, 255);
$orange: rgb(255, 119, 0);
$black: #000;
$dark-grey: #373a3c;
$latest-news: #d3ebdb;

// Services
$kinder-gym: #ffff6b;
$rec-gym: #7446fe;
$competitive: #c6ffae;
$circus-acts: #ffff47;
$cheerleading: #57faff;
$skateboarding: #19ff19;
$neverland-productions: #ff4001;
$parties: #feff37;
$rock-climbing: #fe860c;


// FONTS

@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway);

//GENERAL

* {
  box-sizing: border-box;
}


html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

a, a:hover, a:focus, a:visited, a:active {
  color:white;
}

h1, h2, h3 {
  font-family: 'Bitter', serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

header {
  background:$dark-blue;

  .navbar-nav .nav-item {
    min-width: 75px;
  }

  .dropdown-menu a {
    color: $dark-grey;
  }

  ul {

    li {
      color:$white;
      font-weight: bold;
    }

  }
}

.home-landing {
  position: relative;
  //height: calc(100vh - 38px);
  height:600px;
  background: $light-blue;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  text-align: center;

  .logo {
    z-index: 100;
    padding:25px;

    img {
      height:200px;
    }

    h2 {
      margin-top:30px;
      color:$white;
    }
  }
}


#home {

  .services-list {
    padding:0;
  }

  .page-title {
    padding-top:40px;
    padding-bottom:20px;
    text-align: center;
  }

  .service-item {
    text-align: center;
    padding:0px;
    margin-top:20px;

    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap
    }

    .btn-container {
      background: $light-blue;
      min-height:120px;
      padding:20px 0;
      p {
        color:$white;
      }
    }

    .image-container {
      img {
        height:287px;
        min-width: 283px;
        border:10px solid $orange;
        margin-bottom: 20px;
      }
    }
  }
}

footer {
  //height:70px;
  background: $black;
  color:white;
  text-align: center;
  padding-bottom:20px;

  ul {
    li {
      margin: 20px 50px;
    }
  }

  ul.social-icons {
    li{
      margin: 0px 50px;
    }
  }
}


// TEST VIDEO STUFF
video.bgvid {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.landing {
  position: relative;
  height: 600px;
  background-size:contain!important;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;

  .logo {
    position: absolute;
    left: 0;
    z-index: 100;
    padding: 25px;

    img {
      height: 80px;
    }
  }

  h1 {
    width: 100%;
    margin-top: 30px;
    color: $white;
  }
  h2 {
    width: 100%;
    margin-top: 30px;
    color: $white;
  }
}

.landing.kinder-gym {
  background: url("../images/kinder-gym.jpg") $kinder-gym no-repeat center;
}
.landing.rec-gym {
  background: url("../images/rec-gym.jpg") $rec-gym no-repeat center;
}
.landing.competitive {
  background: url("../images/competitive.jpg") $competitive no-repeat center;
}
.landing.circus-acts {
  background: url("../images/circus.jpg") $circus-acts no-repeat center;
}
.landing.cheerleading {
  background: url("../images/cheerleading.jpg") $cheerleading no-repeat center;
}
.landing.skateboarding {
  background: url("../images/skateboarding.jpg") $skateboarding no-repeat center;
}
.landing.neverland-productions {
  background: url("../images/ring.jpg") $neverland-productions no-repeat center;
}
.landing.parties {
  background: url("../images/parties.jpg") $parties no-repeat center;
}
.landing.rock-climbing {
  background: url("../images/rock-climbing.jpg") $rock-climbing no-repeat center;
}

.contact-content,
.service-content {
  padding-top: 50px;

  h1, h2 {
    text-align: center
  }
}

#services {
  .service-content {

    h6 {
      margin-bottom:20px;
    }

    .service-item {
      padding-top:40px;
    }

    .register {
      margin:50px auto;
      text-align: center;

      button {
        width:30%;
        height:50px;
      }
    }

  }
}

#contact {

  .landing {
    height:450px;
  }

  google-map {
    height:100%;
    width:100%;
  }

  #map {
    width: 100%;
    height: 100%;
    background-color: #CCC;
  }
  .gm-style-iw + div {display: none;}

  form {
    max-width: 850px;
    margin: 40px 0;

    .form-group {
      overflow: hidden;

      label {
        text-align: right;
        line-height: 38px;
      }

      select {
        height: 38px;
      }

      .submit-container {
        text-align: right;
        button {
          width: 100%;
        }
      }
    }
  }
}

#about {

  .landing {
    height: 450px;
    background: $light-blue;
  }

  .about-content{
    margin-bottom: 50px;

    h1 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .team-member {
      h4{
        min-height: 52px;
        margin-bottom: 15px;
      }
      h3 {
        margin-bottom: 10px;
      }
      p {}
    }
  }
}

.news-container {
  padding:40px;
  background: $latest-news;
  text-align: center;

  h4 {
    margin:0;
  }
}