$nvl-blue: #66b3ff;
$nvl-darkblue: #002d70;
$nvl-btn-blue: #0275d8;
$nvl-btn-blue-hover: #025aa5;
$nvl-black: #000;
$nvl-navy: #002d56;
$nvl-green: #d3ebdb;
$nvl-dark-green: #bcd6cd;
$nvl-white: #fff;
$nvl-grey: #ccc;
$nvl-red: #d81b02;
