.footer-container {
	height: 100px;
	background: $nvl-navy;
	display: flex;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
	position: relative;

	.content-wrapper {
		padding: 0 32px;
		color: #fff;
		flex: 1;
		font-size: 1.2em;

		.copy {
			white-space: nowrap;
		}
	}

	.link-wrapper {
		flex: 1;
		padding: 0 32px;
		text-align: right;

		img {
			width: 48px;
			margin: 0 5px;
			height: 48px;
		}
	}

	a {
		white-space: nowrap;
		color: $nvl-white;

		&:hover {
			color: $nvl-white;
		}

		&.active {
			color: $nvl-white;
		}
	}
}

@media screen and (max-width: 750px) {
	.footer-container {
		text-align: center;

		.link-wrapper {
			text-align: center;
		}
	}
}

@media screen and (max-width: 500px) {
	.footer-container {
		text-align: center;

		.content-wrapper {
			font-size: 0.9em;
			padding: 0;
		}

		.link-wrapper {
			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}
