.services-page {
	min-height: 100vh;
	padding-bottom: 64px;
	background: #fff;
	z-index: 10;
	position: relative;
	// padding-top:16px;
	z-index: 99;
	position: relative;
	// top:100vh;
	// margin-top:100vh;
}

.service-title {
	padding: 32px 32px 16px 32px;
	padding-bottom: 32px;
	font-size: 1.6em;
}
.services-container {
	// padding: 0 32px;
	max-width: 1480px;
	margin: 0 auto;
	// flex-wrap: wrap;

	.service-item-container {
		display: flex;

		&.reversed {
			flex-direction: row-reverse;
		}

		.service-img {
			position: relative;
			flex: 1 1 50%;
			overflow: hidden;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform .3s;
			}
		}

		.detail-row {
			flex: 1 1 50%;
			background: #f4f5f4;
			display: flex;
			align-items: center;
			justify-content: center;
			.metadata {
				padding: 0 120px;
				p {
					color: rgba(0, 0, 0, 0.7);
				}

				.learn-more {
					cursor: pointer;
					font-size: 18px;
					color: #000;

					&:hover {
						color: $nvl-darkblue;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.services-container {
		flex-wrap: wrap;
	}
}
